.Contact-main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-bottom: 1px solid rgba(212, 167, 167, 0.87);
}

.article-p {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
}

.article-p p {
    font-size: 1.35rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 1rem;
}

.enquiry-section {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: flex-start;
    gap: 60px;
}

.enquiry-article, .enquiry-form {
    flex: 1;
    min-width: 300px;
}

.enquiry-article {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.enquiry-article p {
    font-size: 1.45rem;
    color: #888;
}

.enquiry-article span {
    display: flex;
    gap: 30px;
    font-size: 1.45rem;
    color: #444;
}

.enquiry-article a {
    text-decoration: underline;
    font-weight: bolder;
    color: black;
}

.enquiry-article a:hover {
    color: green;
}

.enquiry-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.enquiry-form input, textarea {
    border: none;
    outline: none;
    background-color: aquamarine;
    border-bottom: 1px solid gray;
    resize:  none;
}

.enquiry-form label {
    font-size: 1.25rem;
}

.enquiry-form input:focus, textarea:focus {
    border-bottom: 1px solid gold;
}

.enquiry-form input[type='text'] {
    font-size: 1.25rem;
    padding-bottom: .15rem;
}

.enquiry-form input[type='email'] {
    font-size: 1.25rem;
    padding-bottom: .15rem;
}
.enquiry-form textarea[type='text'] {
    font-size: 1.25rem;
    padding-bottom: .15rem;
}

.enquiry-form button {
    width: 300px;
    border-radius: 15px;
    background-color: blanchedalmond;
    font-size: 1.2rem;
    padding: .85rem;
}

.enquiry-form button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 500px) {
    .enquiry-article span {
        display: flex;
        gap: 12px;
        font-size: 1.25rem;
        color: #444;
    }
    
    .enquiry-article a {
        text-decoration: underline;
        font-weight: bolder;
        color: black;
    }
}